<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Buy now:</strong>
    <td> 
      <%= button_to "Buy now", checkout_create_path, params: {id: product.id}, remote: true %>
    </td>
  </p>

</div>
